<h1>Today is @ViewBag.Day</h1>
<h2>Current year is @ViewBag.Year</h2>

<h3>Current date time: @ViewData["DateTime"]</h3>

@{
    //declare variable in Razor
    var BirthYear = 2000;
    var CurrentYear = DateTime.Now.Year;
    
    //do calculation in Razor
    var Age = CurrentYear - BirthYear;
}

<h4>You was born in @BirthYear</h4>
<h4>You are @Age year old now</h4>

<span class="text-danger">@TempData["Message"]</span>