@model IEnumerable<web.Models.Laptop>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
    {
        <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th colspan="4">
                <a class="btn btn-outline-info" asp-controller="Laptops" asp-action="SortPriceAsc">
                    Price Ascending
                </a>
                <a class="btn btn-outline-success" asp-controller="Laptops" asp-action="SortPriceDesc">
                    Price Descending
                </a>
            </th>
            <th colspan="3">
                <form asp-controller="Laptops" asp-action="SearchByModel" method="post">
                    <input class="form-control" type="search" name="keyword" required placeholder="Search by model" />
                </form>
            </th>
        </tr>
        <tr> 
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="@item.Image"
                             width="100" height="120" />
                    </a>
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
